<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.CityMatchMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.CityEntity">
    <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="cityid" property="cityid" javaType="java.lang.String" jdbcType="CHAR" />
    <result column="city" property="city" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="provinceid" property="provinceid" javaType="java.lang.String" jdbcType="CHAR" />
    <result column="crm_cities_code" property="crmCitiesCode" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cityid, city, provinceid, crm_cities_code
  </sql>

  <!--根据城市编码查询城市名称-->
  <select id="queryCityNameByCityCode" resultType="java.lang.String">
    select
    city
    from cities
    where cityid = #{cityCode,jdbcType=CHAR}
  </select>

  <!--根据id查询区域名-->
  <select id="queryAreasNameByAreaId" resultType="java.lang.String">
    select
    area
    from areas
    where areaid = #{areaId,jdbcType=CHAR}
  </select>

  <!--根据省份编码查询城市名称-->
  <select id="queryProvincesNameByPprovinceid" resultType="java.lang.String">
    select
    province
    from provinces
    where provinceid = #{provinceId,jdbcType=CHAR}
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cities
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cities
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lbx.distribution.manageserver.entity.CityEntity">
    insert into cities (id, cityid, city, 
      provinceid, crm_cities_code)
    values (#{id,jdbcType=INTEGER}, #{cityid,jdbcType=CHAR}, #{city,jdbcType=VARCHAR}, 
      #{provinceid,jdbcType=CHAR}, #{crmCitiesCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lbx.distribution.manageserver.entity.CityEntity">
    insert into cities
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cityid != null">
        cityid,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="provinceid != null and provinceid != ''">
        provinceid,
      </if>
      <if test="crmCitiesCode != null">
        crm_cities_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=CHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null and provinceid != ''">
        #{provinceid,jdbcType=CHAR},
      </if>
      <if test="crmCitiesCode != null">
        #{crmCitiesCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lbx.distribution.manageserver.entity.CityEntity">
    update cities
    <set>
      <if test="cityid != null">
        cityid = #{cityid,jdbcType=CHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null">
        provinceid = #{provinceid,jdbcType=CHAR},
      </if>
      <if test="crmCitiesCode != null">
        crm_cities_code = #{crmCitiesCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lbx.distribution.manageserver.entity.CityEntity">
    update cities
    set cityid = #{cityid,jdbcType=CHAR},
      city = #{city,jdbcType=VARCHAR},
      provinceid = #{provinceid,jdbcType=CHAR},
      crm_cities_code = #{crmCitiesCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>