<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.CmsUrlInfoMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.CmsUrlInfo">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="remark" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="role" property="role" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    id, url, remark, status, update_time, create_time, role
  </sql>
  <select id="selectUriByRole" parameterType="java.lang.Integer" resultType="java.lang.String">
    SELECT
     url
    FROM cms_url_info
    WHERE role = #{role,jdbcType=INTEGER}
  </select>

</mapper>