<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lbx.distribution.manageserver.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.company.CompanyEntity">
        <id column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="INTEGER"/>
        <result column="area_name" property="areaName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="contact_name" property="contactName" jdbcType="VARCHAR"/>
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
<sql id="baseSQL">
    company_id,merchant_id, parent_id, `level`, company_name, city_name, city_code, area_name, address,
            contact_name, contact_phone, create_time, update_time, status, remarks
</sql>
    <!--新增公司 -->
    <insert id="insertCompany" parameterType="com.lbx.distribution.manageserver.entity.company.CompanyEntity">
        INSERT INTO
        tb_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">
                merchant_id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="level != null">
                `level`,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="createTime != null">
                create_time ,
            </if>
            <if test="updateTime != null">
                update_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId != null">
                #{merchantId,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="contactName != null">
                #{contactName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <!--更新公司信息,根据公司ID-->
    <update id="updateCompany">
        UPDATE
        tb_company
        <set>
            <if test="companyName != null and companyName != '' ">
                company_name = #{companyName},
            </if>
            <if test="updateTime != null ">
                update_time= #{updateTime}
            </if>
        </set>
        WHERE
        company_Id = #{companyId}
    </update>

    <!--更新公司status(1.active;0:disable)-->
    <update id="updateCompanyStatus">
        UPDATE
        tb_company
        <set>
            <if test="status != null ">
                status= #{status},
            </if>
            <if test="updateTime != null ">
                update_time= #{updateTime}
            </if>
        </set>
        WHERE
        <if test="companyId != null">
            company_id = #{companyId}
        </if>
        <if test="merchantId != null">
             merchant_id = #{merchantId}
        </if>
    </update>

    <!--根据公司ID删除单个公司-->
    <delete id="deleteByCompanyId" parameterType="java.lang.Integer">
        DELETE
        FROM
            tb_company
        WHERE
            company_id = #{companyId}
    </delete>

    <!--查询公司总数-->
    <select id="findTotalNumber" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            tb_company
    </select>

    <!-- 查询公司列表(支持多条件/分页) -->
    <select id="queryCompany" resultMap="BaseResultMap">
        SELECT
            <include refid="baseSQL"/>
        FROM
        tb_company
        WHERE
        1=1
        <if test="merchantId != null ">
           AND  merchant_id = #{merchantId}
        </if>
        <if test="companyName != null and companyName != '' ">
            AND company_name = #{companyName}
        </if>
        <if test="parentId != null ">
            AND parent_id = #{parentId}
        </if>
        <if test="level != null ">
            AND  `level` = #{level}
        </if>
        <if test="createTime != null ">
            AND  create_time = #{createTime}
        </if>
    </select>

    <!-- 查询公司列表(支持多条件/分页) -->
    <select id="queryCompanyList" resultType="com.lbx.distribution.manageserver.entity.company.CompanyEntityVo">
        SELECT
            com.company_id companyId,
            com.company_name companyName,
            com.create_time createTime,
            com.status
        FROM
        tb_company com
        <if test="shopId != null ">
            LEFT JOIN tb_shop shop ON com.company_id = shop.company_id
        </if>
        WHERE
        `status` != -1
        <if test="merchantId != null ">
            AND com.merchant_id = #{merchantId}
            AND parent_id = 0
        </if>
        <if test="companyName != null and companyName != '' ">
            AND com.company_name LIKE "%"#{companyName}"%"
        </if>
        <if test="parentId != null ">
            AND com.parent_id = #{parentId}
        </if>
        <if test="companyId != null ">
            AND com.parent_id = #{companyId}
        </if>
        <if test="shopId != null ">
            AND  shop.shop_Id = #{shopId}
        </if>
    </select>

    <!-- 查询所有公司(预留) -->
    <select id="queryAllCompanies" resultMap="BaseResultMap">
        SELECT
        <include refid="baseSQL"/>
        FROM
            tb_company
    </select>

    <!-- 根据公司ID查询公司-->
    <select id="queryCompanyByCompanyId" resultMap="BaseResultMap">
        SELECT
            <include refid="baseSQL"/>
        FROM
            tb_company
        WHERE
            company_id = #{companyId}
    </select>

    <!--获取组织机构菜单(角色(0.管理员;1:普通商户))-->
    <select id="getCompanyMenu" resultType="com.lbx.distribution.manageserver.entity.MenuEntity">
        SELECT
        company_id id, company_name `name`
        FROM
        tb_company
        WHERE
        `status` != -1
        <if test="type == 1 and id != null ">
            AND merchant_id = #{id}
            AND parent_id = 0
        </if>
        <if test="type == 2 and id != null ">
            AND parent_id = #{id}
        </if>
    </select>

    <!-- 根据子类组织机构的Id查出所有父类组织机构id-->
    <select id="querySuperCompanyIdList" resultType="java.lang.Integer">
        SELECT T2.company_id
        FROM (
        SELECT
        @r AS _id,
        (SELECT @r := parent_id FROM tb_company WHERE company_id = _id) AS parent_id,
        @l := @l + 1 AS lvl
        FROM
        (SELECT @r := #{companyId}, @l := 0) vars,
        tb_company h
        WHERE @r &lt;&gt; 0) T1
        JOIN tb_company T2
        ON T1._id = T2.company_id
    </select>

    <!--查询所有可用的组织机构id-->
    <select id="queryAvailableCompanyId" resultType="java.lang.Integer">
        select
        company_id
        from tb_company
        where
        status = 1
    </select>

    <!--根据父id查询下层公司id-->
    <select id="findCompanyIdsByParentId" resultType="java.lang.Integer">
        SELECT
            company_id
        FROM
            tb_company
        WHERE
          status != -1
          AND
          parent_id = #{parentId}
    </select>

    <!-- 根据商户ID查询公司数-->
    <select id="queryCompanyIdsByMerchantId" resultType="java.lang.Integer">
        SELECT
        company_id
        FROM
        tb_company
        WHERE
        merchant_id = #{merchantId}
    </select>

</mapper>