<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.MerchantConfigMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.merchant.MerchantConfig">
      <id column="merchant_id" property="merchantId" jdbcType="INTEGER" />
      <result column="appkey" property="appKey" jdbcType="VARCHAR" />
      <result column="secret" property="secret" jdbcType="VARCHAR" />
      <result column="order_callback_url" property="orderCallbackUrl" jdbcType="VARCHAR" />
      <result column="message_callback_url" property="messageCallbackUrl" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    merchant_id, appkey, secret, order_callback_url, message_callback_url, create_time, 
    update_time
  </sql>
  <insert id="insert" parameterType="com.lbx.distribution.manageserver.entity.merchant.MerchantConfig">
    insert into tb_merchant_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="appKey != null">
        appkey,
      </if>
      <if test="secret != null">
        secret,
      </if>
      <if test="orderCallbackUrl != null">
        order_callback_url,
      </if>
      <if test="messageCallbackUrl != null">
        message_callback_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="appKey != null">
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="orderCallbackUrl != null">
        #{orderCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="messageCallbackUrl != null">
        #{messageCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_merchant_config
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_merchant_config
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.lbx.distribution.manageserver.entity.merchant.MerchantConfig">
    update tb_merchant_config
    <set>
      <if test="appKey != null">
        appkey = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="secret != null">
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="orderCallbackUrl != null">
        order_callback_url = #{orderCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="messageCallbackUrl != null">
        message_callback_url = #{messageCallbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lbx.distribution.manageserver.entity.merchant.MerchantConfig">
    update tb_merchant_config
    set appkey = #{appKey,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      order_callback_url = #{orderCallbackUrl,jdbcType=VARCHAR},
      message_callback_url = #{messageCallbackUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where merchant_id = #{merchantId,jdbcType=INTEGER}
  </update>
</mapper>