<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lbx.distribution.manageserver.mapper.MerchantMapper">
    <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.merchant.MerchantEntity">
        <id column="merchant_id" property="merchantId" jdbcType="INTEGER"/>
        <result column="merchant_name" property="merchantName" jdbcType="CHAR"/>
        <result column="role" property="role" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="CHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR"/>
        <result column="enterprise_address" property="enterpriseAddress" jdbcType="VARCHAR"/>
        <result column="license" property="license" jdbcType="VARCHAR"/>
        <result column="contract_name" property="contractName" jdbcType="VARCHAR"/>
        <result column="contract_phone" property="contractPhone" jdbcType="CHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    merchant_id, merchant_name, role , password, city_name,enterprise_name,enterprise_address,license,
        contract_name,contract_phone,email,create_time,update_time,status,remarks
  </sql>
    <!--根据商户ID查询单个商户-->
    <select id="queryMerchantMultiCond" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            tb_merchant
        WHERE
        role != 0
        <if test="merchantName != null and merchantName != ''">
            AND merchant_name = #{merchantName}
        </if>
        <if test="createTime != null ">
            AND create_time = #{createTime}
        </if>
    </select>

    <!--查询所有可用的商户id(没有被 0:禁用、-1:删除)-->
    <select id="queryAllMerchantIds" resultType="java.lang.Integer">
        select
        merchant_id id
        from tb_merchant
        where
        `status` != -1
        AND role != 0
    </select>

    <!--查询所有可用的商户id(没有被 0:禁用、-1:删除)-->
    <select id="queryAvailableMerchantId" resultType="java.lang.Integer">
        select
        merchant_id id
        from tb_merchant
        where
        `status` = 1
        AND role != 0
    </select>

    <!--查询所有可用的商户(没有被 0:禁用、-1:删除)-->
    <select id="queryMerchants" resultType="com.lbx.distribution.manageserver.entity.MenuEntity">
        select
        merchant_id id, enterprise_name name
        from tb_merchant
        where
        `status` = 1
        AND role != 0
    </select>

    <!-- 查询商户列表 -->
    <select id="queryMerchantList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            tb_merchant
        WHERE
        `status` != -1
        AND role != 0
        <if test="merchantId != null ">
            AND merchant_id = #{merchantId}
        </if>
    </select>

    <!--获取商户菜单(角色(0.管理员;1:普通商户))-->
    <select id="queryMerchantMenu" resultType="com.lbx.distribution.manageserver.entity.MenuEntity">
        SELECT
        merchant_id AS id, enterprise_name AS `name`
        FROM
        tb_merchant
        WHERE
        `status` != -1
        AND role != 0
        <if test="id != null ">
            AND merchant_id = #{id}
        </if>
    </select>

    <!--查询商户总数-->
    <select id="findTotalNumber" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            tb_merchant
        WHERE
         role != 0
    </select>

    <!-- 查询全部商户信息 -->
    <select id="queryAllMerchants" resultType="com.lbx.distribution.manageserver.entity.merchant.MerchantEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            tb_merchant
        WHERE
         role != 0
    </select>

    <!--根据商户ID查询单个商户-->
    <select id="queryMerchantByMerchantId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            tb_merchant
        WHERE
            merchant_id = #{merchantId}
        and role!=0
    </select>

    <!--根据商户ID查询单个商户-->
    <select id="queryAllMerchantByMerchantId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        tb_merchant
        WHERE
        merchant_id = #{merchantId}
    </select>

    <!--根据账号（商户名称）查询商户是否已存在-->
    <select id="isExist" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
            tb_merchant
        WHERE
            merchant_name = #{merchantName}
    </select>

    <!--新增商户 -->
    <insert id="insertMerchant" parameterType="com.lbx.distribution.manageserver.entity.merchant.MerchantEntityVo">
        INSERT INTO
            tb_merchant
        (
        merchant_name,
        password,
        enterprise_name,
        contract_name,
        create_time
        )
        VALUES
        (
            #{merchantName,jdbcType=CHAR},
            #{password,jdbcType=CHAR},
            #{enterpriseName,jdbcType=VARCHAR},
            #{contractName,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--根据商户ID更新密码-->
    <update id="updatePasswordByMerchantId">
        UPDATE
            tb_merchant
        <set>
            <if test="password != null and password != '' ">
                password= #{password},
            </if>
            <if test="updateTime != null ">
                update_time= #{updateTime}
            </if>
        </set>
        WHERE
            merchant_id = #{merchantId}
    </update>

    <!--根据商户ID更新商户status(1.active;0:disable)-->
    <update id="updateMerchantStatusByMerchantId">
        UPDATE
            tb_merchant
        <set>
            <if test="status != null ">
                status= #{status},
            </if>
            <if test="updateTime != null ">
                update_time= #{updateTime}
            </if>
        </set>
        WHERE
            merchant_id = #{merchantId}
    </update>

    <!--根据商户ID删除单个商户:状态(1.active;0:disable;-1:删除状态)-->
    <update id="deleteByMerchantId" parameterType="com.lbx.distribution.manageserver.entity.merchant.MerchantEntity">
        UPDATE
        tb_merchant
        <set>
            <if test="status != null ">
                status= #{status},
            </if>
            <if test="updateTime != null ">
                update_time= #{updateTime}
            </if>
        </set>
        WHERE
        merchant_id = #{merchantId}
    </update>
</mapper>