<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.OrderStatMapper">
  <!--分发状态(0:未分发;1:分发渠道成功;4:订单已完成;5:订单已取消;6:订单异常;-1:失败订单;)-->

  <!--查询订单总数-->
  <select id="statOrderCount" resultType="Integer">
    SELECT
    count(order_id)
    FROM tb_order
    WHERE
    1=1
    <if test="merchantId != null ">
      AND merchant_id = #{ merchantId }
    </if>
  </select>

  <!--查询当日已完成的订单数量-->
  <select id="statFinishOrderCountByDate" resultType="Integer">
    SELECT
    count(os.order_id)
    FROM tb_order_status `os`
    LEFT JOIN tb_order `od` ON os.order_id = od.order_id
    WHERE
    os.distribute_status = 4
    <if test="merchantId != null ">
      AND od.merchant_id = #{ merchantId }
    </if>
    <if test="startTime != null ">
      AND os.create_time &gt;= #{startTime}
    </if>
    <if test="endTime != null ">
      AND os.create_time &lt;= #{endTime}
    </if>
  </select>

  <!--查询当日未完成的订单数量-->
  <select id="statUnFinishedOrderCountByDate" resultType="Integer">
    SELECT
    count(os.order_id)
    FROM tb_order_status `os`
    LEFT JOIN tb_order `od` ON os.order_id = od.order_id
    WHERE
    os.distribute_status IN (0,1)
    <if test="merchantId != null ">
      AND od.merchant_id = #{merchantId}
    </if>
    <if test="startTime != null ">
      AND os.create_time &gt;= #{startTime}
    </if>
    <if test="endTime != null ">
      AND os.create_time &lt;= #{endTime}
    </if>
  </select>
  <!--查询当日未完成的订单数量-->
  <select id="statUnFinishedExpectedOrderCount" resultType="Integer">
    SELECT
    count(order_id)
    FROM tb_order_expected
    WHERE
    send_id = 1
    <if test="merchantId != null ">
      AND merchant_id = #{merchantId}
    </if>
    <if test="startTime != null ">
      AND expected_delivery_time &gt;= #{startTime}
    </if>
    <if test="endTime != null ">
      AND expected_delivery_time &lt;= #{endTime}
    </if>
  </select>
  <!--查询当日已取消息订单数量-->
  <select id="statCancelOrderIdByDate" resultType="java.lang.String">
    select
    os.order_id
    from tb_order_status `os`
    LEFT JOIN tb_order `od` ON os.order_id = od.order_id
    WHERE
    os.distribute_status = 5
    <if test="merchantId != null ">
      AND od.merchant_id = #{merchantId}
    </if>
    <if test="startTime != null ">
      AND os.create_time &gt;= #{startTime}
    </if>
    <if test="endTime != null ">
      AND os.create_time &lt;= #{endTime}
    </if>
  </select>

  <!--统计未正式发单就取消的预约单-->
  <select id="statCancelExpectedOrderId" resultType="java.lang.String">
    select
    order_id
    from tb_order_expected
    WHERE
    send_id = 5
    <if test="merchantId != null ">
      AND merchant_id = #{merchantId}
    </if>
    <if test="startTime != null ">
      AND create_time &gt;= #{startTime}
    </if>
    <if test="endTime != null ">
      AND create_time &lt;= #{endTime}
    </if>
  </select>
</mapper>