<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.OrderCargoListMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.order.OrderCargoItem">
    <id column="order_id" property="orderId" jdbcType="CHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_quantity" property="itemQuantity" jdbcType="INTEGER" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    <result column="item_actual_price" property="itemActualPrice" jdbcType="DECIMAL" />
    <result column="item_size" property="itemSize" jdbcType="INTEGER" />
    <result column="item_remark" property="itemRemark" jdbcType="VARCHAR" />
    <result column="is_need_package" property="isNeedPackage" jdbcType="TINYINT" />
    <result column="is_agent_purchase" property="isAgentPurchase" jdbcType="TINYINT" />
    <result column="agent_purchase_price" property="agentPurchasePrice" jdbcType="DECIMAL" />

    <result column="item_single_price" property="itemSinglePrice" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="OrderExcelCargoItemMap" type="com.lbx.distribution.manageserver.entity.order.OrderExcelCargoItem">
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_quantity" property="itemQuantity" jdbcType="INTEGER" />
    <result column="item_actual_price" property="itemActualPrice" jdbcType="DECIMAL" />
    <result column="item_single_price" property="itemSinglePrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, item_id, item_name, item_quantity, item_price, item_actual_price, item_size, 
    item_remark, is_need_package, is_agent_purchase, agent_purchase_price
  </sql>
  <sql id="OrderExcelCargoItem_Column_List">
    item_name, item_quantity, item_actual_price
  </sql>

  <select id="selectByOrderId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />, (item_actual_price/item_quantity) as item_single_price
    from tb_order_cargo_list
    where order_id = #{orderId,jdbcType=CHAR}
  </select>

  <select id="selectOrderExcelCargoItemByOrderId" resultMap="OrderExcelCargoItemMap">
    select
    <include refid="OrderExcelCargoItem_Column_List" />, (item_actual_price/item_quantity) as item_single_price
    from tb_order_cargo_list
    where order_id = #{orderId,jdbcType=CHAR}
  </select>
</mapper>