<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.OrderPredictPriceMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.order.OrderPredictPrice">
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="predict_price" property="predictPrice" jdbcType="DECIMAL" />
    <result column="base_price" property="basePrice" jdbcType="DECIMAL" />
    <result column="add_distance_price" property="addDistancePrice" jdbcType="DECIMAL" />
    <result column="add_weight_price" property="addWeightPrice" jdbcType="DECIMAL" />
    <result column="add_time_price" property="addTimePrice" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, channel_id, predict_price, update_time, create_time, base_price, add_distance_price,add_weight_price,add_time_price
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.lbx.distribution.manageserver.entity.order.OrderPredictPrice" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_predict_price
    where
    1=1
    <if test="orderId != null">
      AND order_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="channelId != null">
      AND channel_id = #{channelId,jdbcType=INTEGER}
    </if>
    LIMIT 1
  </select>

  <select id="queryOrderPredictPrice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_order_predict_price
    where
    1=1
    <if test="orderId != null">
      AND order_id = #{orderId,jdbcType=VARCHAR}
    </if>
    <if test="orderIds != null ">
      AND order_id IN
      <foreach item="orderId" index="index" collection="orderIds"
               open="(" separator="," close=")"> #{orderId}</foreach>
    </if>
  </select>
</mapper>