<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.OrderDistributionStatusMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.order.OrderDistributionStatus">
    <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" javaType="java.lang.String" jdbcType="CHAR" />
    <result column="channel_id" property="channelId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="channel_delivery_id" property="channelDeliveryId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="channel_peisong_id" property="channelPeisongId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="delivery_fee" property="deliveryFee" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    <result column="status_code" property="statusCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="status_msg" property="statusMsg" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="courier_name"  property="courierName" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="courier_phone" property="courierPhone" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="cancel_reason_id" property="cancelReasonId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="cancel_reason" property="cancelReason" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="OrderDistributionStatusVoMap" type="com.lbx.distribution.manageserver.entity.order.OrderDistributionStatusVo">
    <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" javaType="java.lang.String" jdbcType="CHAR" />
    <result column="channel_id" property="channelId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="channel_peisong_id" property="channelPeisongId" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="status_code" property="statusCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="status_msg" property="statusMsg" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="cancel_reason_id" property="cancelReasonId" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result column="cancel_reason" property="cancelReason" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, channel_id, channel_delivery_id, channel_peisong_id, delivery_fee,
    status_code, status_msg, courier_name, courier_phone, cancel_reason_id, cancel_reason, create_time
  </sql>

  <!--根据订单和渠道id查询订单骑手信息-->
  <select id="queryCourierData" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_order_distribution_status
    WHERE order_id = #{orderId,jdbcType=CHAR}
    AND
    channel_id = #{channelId,jdbcType=INTEGER}
    AND
    status_code >= 2
  </select>

  <!--根据订单和渠道id查询订单骑手信息-->
  <select id="queryDistStatus" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_order_distribution_status
    WHERE order_id = #{orderId,jdbcType=CHAR}
    AND
    channel_id = #{channelId,jdbcType=INTEGER}
    AND
    status_code = #{statusCode}
    limit 0,1
  </select>

  <!--根据订单和渠道id查询订单状态列表-->
  <select id="queryDistStatusList" resultMap="OrderDistributionStatusVoMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_order_distribution_status
    WHERE
    1=1
    <if test="orderId != null ">
      AND order_id = #{orderId,jdbcType=CHAR}
    </if>
    <if test="channelId != null ">
      AND channel_id = #{channelId,jdbcType=INTEGER}
    </if>
    <if test="orderIds != null ">
      AND order_id IN
      <foreach item="orderId" index="index" collection="orderIds"
               open="(" separator="," close=")"> #{orderId}</foreach>
    </if>
    ORDER BY create_time ASC
  </select>
</mapper>