<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.PriceConfigEntityMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.channel.PriceConfigEntity">
    <constructor>
      <idArg column="conf_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="channel_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="merchant_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="company_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="city_level" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="level_price" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    conf_id, channel_id, merchant_id, shop_id, company_id, city_level, level_price, create_time, 
    update_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_city_price_config
    where conf_id = #{confId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_city_price_config
    where conf_id = #{confId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lbx.distribution.manageserver.entity.channel.PriceConfigEntity">
    insert into tb_city_price_config (conf_id, channel_id, merchant_id, 
      shop_id, company_id, city_level, 
      level_price, create_time, update_time, 
      status)
    values (#{confId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{cityLevel,jdbcType=INTEGER}, 
      #{levelPrice,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lbx.distribution.manageserver.entity.channel.PriceConfigEntity">
    insert into tb_city_price_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        conf_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="merchantId != null">
        merchant_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="cityLevel != null">
        city_level,
      </if>
      <if test="levelPrice != null">
        level_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="confId != null">
        #{confId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="cityLevel != null">
        #{cityLevel,jdbcType=INTEGER},
      </if>
      <if test="levelPrice != null">
        #{levelPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lbx.distribution.manageserver.entity.channel.PriceConfigEntity">
    update tb_city_price_config
    <set>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null">
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="cityLevel != null">
        city_level = #{cityLevel,jdbcType=INTEGER},
      </if>
      <if test="levelPrice != null">
        level_price = #{levelPrice,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lbx.distribution.manageserver.entity.channel.PriceConfigEntity">
    update tb_city_price_config
    set channel_id = #{channelId,jdbcType=INTEGER},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      city_level = #{cityLevel,jdbcType=INTEGER},
      level_price = #{levelPrice,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>
</mapper>