<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lbx.distribution.manageserver.mapper.RegionMapper">

    <!-- 查询省份 -->
    <select id="queryProvince" resultType="com.lbx.distribution.manageserver.entity.Region" >
        SELECT
          provinceid regionCode,
          province regionName
        FROM
          provinces
    </select>

    <!-- 查询城市 -->
    <select id="queryCityByProvinceId" resultType="com.lbx.distribution.manageserver.entity.Region" parameterType="java.lang.String">
        SELECT
            cityid regionCode,
            city regionName
        FROM
            cities
        WHERE
            provinceid = #{provinceId}
    </select>

    <!-- 查询区县 -->
    <select id="queryAreaByCityId" resultType="com.lbx.distribution.manageserver.entity.Region" parameterType="java.lang.String">
        SELECT
            areaid regionCode,
            area regionName
        FROM
            areas
        WHERE
            cityid = #{cityId}
    </select>

    <!-- 查询乡镇 -->
    <select id="queryTownByAreaId" resultType="com.lbx.distribution.manageserver.entity.Region" parameterType="java.lang.String">
        SELECT
            town_id regionCode,
            town regionName
        FROM
            towns
        WHERE
            parent_id = #{parentId}
    </select>

</mapper>