<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lbx.distribution.manageserver.mapper.ShopChannelMapper">
  <resultMap id="BaseResultMap" type="com.lbx.distribution.manageserver.entity.shop.ShopChannelEntity">
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="channel_id"  property="channelId" jdbcType="INTEGER" />
    <result column="channel_shopid" property="channelShopid" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ShopChannelEntityVoMap" type="com.lbx.distribution.manageserver.entity.shop.ShopChannelEntityVo">
    <id column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="channel_id"  property="channelId" jdbcType="INTEGER" />
    <result column="channel_name"  property="channelName" jdbcType="VARCHAR" />
    <result column="channel_shopid" property="channelShopid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, channel_id, channel_shopid
  </sql>
  <sql id="ShopChannel_Column_List">
    sc.shop_id, sc.channel_id, sc.channel_shopid
  </sql>

  <insert id="insert" parameterType="com.lbx.distribution.manageserver.entity.shop.ShopChannelEntity">
    insert into tb_shop_channel (shop_id, channel_id, channel_shopid
      )
    values (#{shopId,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{channelShopid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lbx.distribution.manageserver.entity.shop.ShopChannelEntity">
    update tb_shop_channel
    <set>
      <if test="channelShopid != null">
        channel_shopid = #{channelShopid,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
      and channel_id = #{channelId,jdbcType=INTEGER}
  </update>

  <!--增加第三方渠道门店信息-->
  <insert id="addShopChannel">
    insert into tb_shop_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="channelShopid != null">
        channel_shopid
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelShopid != null">
        #{channelShopid,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <!--根据门店id查询第三方门店信息-->
  <select id="queryShopChannelByShopId" resultMap="ShopChannelEntityVoMap" >
    SELECT
    <include refid="ShopChannel_Column_List"/>, ch.channel_name
    FROM tb_shop_channel `sc`
    LEFT JOIN tb_channel `ch` ON sc.channel_id = ch.channel_id
    WHERE
    1=1
    <if test="shopId != null">
      and `sc`.shop_id = #{shopId,jdbcType=INTEGER}
    </if>
  </select>

  <!--删除门店-->
  <delete id="delete">
    DELETE FROM tb_shop_channel
    WHERE
      shop_id = #{shopId,jdbcType=INTEGER}
      and channel_id = #{channelId,jdbcType=INTEGER}
  </delete>

  <!-- 导入判断门店是否存在 -->
  <select id="ImportShopConfigIsExists" parameterType="com.lbx.distribution.manageserver.entity.shop.ShopConfigImport" resultType="java.lang.Integer">
      SELECT
          count(1)
      FROM
          tb_shop_channel
      WHERE
          shop_id = #{shopId}
      AND channel_id = #{channelId}
  </select>

  <!-- 导入判断门店是否存在 -->
  <select id="queryAllShopConfig" resultType="com.lbx.distribution.manageserver.entity.shop.ShopConfigImport">
      SELECT
          shop_id shopId,
          channel_id channelId,
          channel_shopid channelShopId
      FROM
          tb_shop_channel
  </select>


  <!--导入增加第三方渠道门店信息-->
  <insert id="insertShopConfig" parameterType="com.lbx.distribution.manageserver.entity.shop.ShopConfigImport">
    insert into tb_shop_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="channelShopId != null">
        channel_shopid
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelShopId != null">
        #{channelShopId,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
</mapper>